:root {
    --primary-dark: #183251;
    --primary-light: #C4CBD8;
    --primary-light-contrast: #dce6f6;
    --text-hover: #C8C4C4;
    --box-shadow-blue: #597F97;
    --box-shadow-grey: #6C747C;
}

/* Make this responsive */

body {
    background-color: var(--primary-light);
    margin: 0;
}

h1 {
    background-color: var(--primary-dark);
    box-shadow: 3px 1px 7px 3px var(--box-shadow-blue);
    text-align: center;
    margin: 0;
    padding: 15px 0 15px 0;
    color: var(--primary-light-contrast);
}

.tableofcontents {
    list-style-type: none;
    padding: 0 8px  0 8px ;
}

.weekItem {
    height: 10vh; 
    box-shadow: 3px 1px 7px 3px var(--box-shadow-blue);
    margin-bottom: 15px;
    background-color: var(--primary-light-contrast);
    animation: buttonScale 0.1s;
}

.weekItem a{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vh;
    color: var(--primary-dark);
}

a {
    text-decoration: none;
}

/* Desktop formatting */
@media only screen and (min-width: 750px){

    h1 {
        font-size: 62px;
    }

    .tableofcontents {
        display: flex;
        flex-wrap: wrap;
        padding: 0 15vw  0 15vw;
    }

    .weekItem {
        flex-grow: 1;
        flex-basis: 33vw;
        margin-right: 15px;
        padding: 10px 0;
    }
}

@keyframes buttonScale {
    0% {
        scale: 100%;
    }

    100% {
        scale: 120%;
    }
}