@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn+SC&display=swap');

:root {
    --base-color: #d2eeed;
    --light-color: #eff9fa;
    --dark-color: #43B1AC;
    --light-text: #FFFFFF;
    --dark-text: #0E0A06;
}

body {
    background-color: var(--base-color);
}

li {
    color: var(--dark-text);
    font-family: 'Spartan', sans-serif;
    font-size: 18px;
}

.data-card {
    background-color: var(--light-color);
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.data-card div:nth-child(even) {
    border-right: var(--dark-text) solid 1.5px;
}

.data-card h2 {
    width: 100%;
    margin: 0;
    background-color: var(--dark-color);
    border-radius: 15px 15px 0 0;
    padding-left: 10px;
    color: var(--light-text);
    font-family: 'Vollkorn SC', serif;
    font-size: 30px;
    word-spacing: 5px;
}

.data-card div {
    margin: 10px auto;
    width: 45%;
    text-align: center;
    color: var(--dark-text);
    font-family: 'Spartan', sans-serif;
    font-size: 30px;
    padding-top: 10px;
}

.btnContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.migraineBtn {
    background-color: var(--dark-color);
    color: var(--base-color);
    font-family: 'Spartan', sans-serif;
    font-size: 25px;
    border-radius: 5px;
    border: 0; 
    margin-bottom: 25px;
    padding: 30px 15px;
}

.hide {
    display: none;
}