@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn+SC&display=swap');

:root {
    --base-color: #d2eeed;
    --light-color: #eff9fa;
    --dark-color: #2d7874;
    --dark-text: #0E0A06;
}

body {
    background-color: var(--base-color);
    margin: 5px;
}

li {
    color: var(--dark-text);
    font-family: 'Spartan', sans-serif;
    font-size: 18px;
}

.data-card {
    background-color: var(--light-color);
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}

.data-card div:nth-child(even) {
    border-right: var(--dark-text) solid 1.5px;
}

.data-card h1 {
    width: 100%;
    margin: 0;
    background-color: var(--dark-color);
    border-radius: 15px 15px 0 0;
    padding: 10px;
    color: white;
    font-family: 'Vollkorn SC', serif;
    font-size: 30px;
    word-spacing: 5px;
}

.data-card div {
    margin: 10px auto;
    width: 45%;
    text-align: center;
    color: var(--dark-text);
    font-family: 'Spartan', sans-serif;
    font-size: 30px;
    padding-top: 10px;
}

.btnContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.migraineBtn {
    background-color: var(--dark-color);
    color: white;
    font-family: 'Spartan', sans-serif;
    font-size: 25px;
    border-radius: 5px;
    border: 0; 
    margin-bottom: 25px;
    padding: 30px 15px;
}

.hide {
    display: none;
}

.compare-h1, .compare-label{
    color: var(--dark-text);
}

.compare-label{
    font-family: 'Spartan', sans-serif;
}

.compare-h1{
    font-family: 'Vollkorn SC', serif;
    margin: 0 5px;
}

.reset-btn {
    font-family: 'Vollkorn SC', serif;
    background-color: var(--dark-color);
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    padding: 5px 15px;
}

.compare {
    border-radius: 5px;
    border: var(--dark-color) solid 1.5px;
    margin: 20px 0 20px 0;
}

.compare legend {
    font-family: 'Vollkorn SC', serif;
    font-size: 20px;
    font-weight: 900;
    color: var(--dark-color);
}

/* Make a desktop version */
@media only screen and (min-width: 1400px){
    .compare {
        max-width: 25vw;
    }

    .hourContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hourContainer .data-card{
        margin-right: 20px;
        max-width: 30vw;
    }
}