:root {
    --primary-dark: #183251;
    --primary-light: #C4CBD8;
    --primary-light-contrast: #dce6f6;
    --text-hover: #C8C4C4;
    --box-shadow-blue: #597F97;
    --box-shadow-grey: #6C747C;
}

body {
    background-color: var(--primary-light);
}

.app-section {
    background-color: var(--primary-light-contrast);
    min-height: 25vh;
    position: relative;
    box-shadow: 3px 1px 7px 3px var(--box-shadow-blue);
}

.app-section h1 {
    background-color: var(--primary-dark);
    color: var(--primary-light-contrast);
    margin: 0;
    padding: 15px 0 15px 0;
    text-align: center;
    font-family: Haettenschweiler, sans-serif;
    font-size: 42px;
}

.add-form{
    /* Look at different display options. Try to get form
    to say on the bottom with a 5px bottom margin. */
    padding: 0 5px;
    display: flex;
    text-align: center;
}

.add-form input{
    flex-grow: 3;
}

.add-form button {
    flex-grow: 1;
}

.toDoItem {
    display: flex;
    padding: 0 5px;
    align-items: center;
}

.toDoItem input{
    height: 35px;
    width: 35px;
    margin: 0;
}

.toDoItem p {
    flex-grow: 2;
    padding-left: 20px;
    font-size: 25px;
}

.toDoItem form button {
    height: 35px;
    width: 35px;
    font-size: 25px;
}

.toDoList {
    padding: 0;
    list-style-type: none;
    margin: 10px 0;
}

p {
    margin: 0;
}